<style>
  .container {
    width: 800px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  span {
    margin: 10px;
  }
</style>

<div class="container">
  <img src="https://i.imgur.com/oUAKMC5.png" alt="rentx logo">
  <br/>
  <span>Hello, <strong>{{name}}</strong></span>
  <br/>
  <span>You requested to recover your password, click on the button below to recover it</span>
  <a href={{link}}>Recover Password</a>
  <span>if you did not make this request, please disregard this email</span>
  <br/>
  <strong>Thanks</strong>
  <h3>Team | <strong>Rentx</strong></h3>
</div>
