<!DOCTYPE html>
<html lang="en">

<head>
  <style>
    .container {
      width: 800px;
      font-family: Arial, Helvetica, sans-serif;
    }

    span {
      margin: 10px 0;
      display: block;
    }
  </style>
</head>

<body>
  <div class="container">
    <img src="https://i.imgur.com/oUAKMC5.png" alt="rentx logo">
    <br />
    <span>Hello, <strong>{{name}}</strong></span>
    <br />
    <span>You requested to recover your password, click on the button below to recover it</span>
    <a href={{link}}>Recover Password</a>
    <span>if you did not make this request, please disregard this email</span>
    <br />
    <strong>Thanks</strong>
    <h3>Team | <strong>Rentx</strong></h3>
  </div>
</body>
</html>
